<div class='c-post-hero'>
  <div class='o-grid _o-grid--full'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-3-l'>
      <div class='c-post-hero__media'>
        <div class='c-post-hero__image js-fadein' style='background-image: url({{ page.image | prepend: site.baseurl }})'></div>
      </div>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--1-3-m'>
      <div class='c-post-hero__content'>
        <h1 class='c-post-hero__title'>{{ page.title }}</h1>
        <time class='c-post-hero__date' datetime='{{ page.date | date: '%d %b %Y' }}'>{{ page.date | date: '%d %b %Y' }}</time>
      </div>
    </div>
  </div>
</div>