/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  padding-top: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);

  &.page {
    max-width: 700px;
    margin: 0 auto;
  }
}